/* HERO SECTION */

/* ===== Section Background & Spacing ===== */
.hero-section {
    display: flex;
    justify-content: space-between;
    height: auto;
    /* background: conic-gradient(#f3f8ff, #deecff, #c6cfff); */
    color: white;
    padding-top: 10rem;
    /* pt-16 */
    /* padding-bottom: 6rem; */
    /* pb-24 */
}

.hero-background {
    padding-top: 20px;
}


@media (min-width: 1024px) {
    .hero-section {
        /* padding-top: 8rem; */
        /* lg:pt-24 */
        /* padding-bottom: 8rem; */
        /* lg:pb-32 */
    }
}

/* ===== Container ===== */
.hero-container {
    max-width: 650px;
    /* max-w-7xl */
    margin: 0 50px;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    text-align: start;
    align-items: start;
}

@media (min-width: 640px) {
    .hero-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }


}

@media (min-width: 1024px) {
    .hero-container {
        padding-left: 2rem;
        /* padding-right: 2rem; */
    }
}

/* ===== Heading ===== */
.hero-title {
    font-weight: 800;
    /* margin-bottom: 1.5rem; */
    letter-spacing: -0.02em;
    font-size: 3rem;
    /* text-5xl */
    line-height: 1.1;
    
}

@media (min-width: 640px) {
    .hero-title {
        font-size: 3.5rem;
        /* sm:text-6xl */
    }
}

@media (min-width: 1024px) {
    .hero-title {
        font-size: 3.5rem;
        /* lg:text-7xl */
    }
}

.line-1 {
    display: inline-block;
    background: linear-gradient(90deg, #3a3a3a, rgb(84, 84, 84));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hero-line1 0.7s linear;
}

.line-2 {
    display: inline-block;
    margin-top: 0.5rem;
    /* background: linear-gradient(90deg, #06b6d4, #3b82f6); */
    background: linear-gradient(90deg, #0d6968, rgb(11, 70, 125));
    /* background-color: rgb(11, 70, 125); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hero-line2 0.9s linear;
}


@keyframes hero-line1{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes hero-line2{
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes hero-subtxt{
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes hero-btns{
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}





/* ===== Subtext ===== */
.hero-subtext {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    /* text-xl */
    color: #6c6c6c;
    /* text-gray-300 */
    max-width: 48rem;
    /* max-w-3xl */
    margin-left: auto;
    margin-right: auto;
    animation: hero-subtxt 1.1s linear;
}

/* ===== Buttons Container ===== */
.hero-buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    animation: hero-btns 1.3s linear;
}

@media (max-width: 760px) {
    .hero-buttons {
        flex-direction: row;
        gap: 1rem;
        justify-content: start;
    }

    .hero-title{
        font-size: 3rem;
        
    }
    .hero-subtext{
        font-size: 1rem;
    }
    .hero-image{
        margin-top: 50px;
        /* width: 400px; */
    }
    .hero-buttons{
        width: 110%;
    }
    .btn-primary a  {
        height: 50px;
    }
    .hero-section{
        flex-direction: column;
    }
}

@media (min-width:420px) and (max-width:560px){
    .hero-buttons{
        flex-direction: column;
    }
}


/* ===== Buttons ===== */
.btn-primary,
.btn-secondary {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.75rem;
    /* rounded-xl */
    transition: all 0.3s ease;
    transform: scale(1);
}

/* Primary Button (white) */
.btn-primary {
    background-color: white;
    color: #111827;
    /* gray-900 */
    border: 1px solid transparent;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #e5e7eb;
    /* gray-200 */
    transform: scale(1.05);
}

/* Secondary Button (outline white) */
.btn-secondary {
    color: rgb(255, 255, 255);
    border: 1px solid white;
    background-color: rgb(11, 70, 125)
}

.btn-secondary:hover {
    background-color: rgb(8, 120, 137);
    transform: scale(1.05);
}



.hero-container-image {
    align-content: center;
}

.hero-image {
    width: 800px;
    border-radius: 50px 0px 0px 50px;
    animation: hero-img 0.8s linear;
}

@keyframes hero-img{
    from {
        /* transform: translateX(200px); */
        opacity: 10%;
        scale: 80%
    }

    to {
        /* transform: translateX(0px); */
        opacity: 100%;
        scale: 100%;
    }
}